.knowledge-base-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.knowledge-base-main {
  margin-top: 0.5rem;
}

.sidenav-container {
  height: 100%;
}

.sidenav-divider {
  width: 90%;
}

.sidenav {
  width: 25%;
  margin: 0.5rem;
}

.sidenav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  text-align: center;
}

.sidenav-header label {
  margin-bottom: 8px;
}

.sidenav-header hr {
  width: 100%;
  margin: 8px 0;
}

.add-file-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #3f51b5;
}

.add-file-button mat-icon {
  margin-right: 8px;
}

.mat-list-item.selected {
  background-color: rgba(63, 81, 181, 0.1);
}

.mat-list-item {
  display: flex;
  align-items: center;
}

.viewer-container {
  padding: 16px;
  overflow-y: auto;
}

.tag-input {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.file-viewer {
  padding: 16px;
}

.mat-chip-set {
  margin-bottom: 16px;
}

.no-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgba(255, 255, 255, 0.75);
}

.mat-tab-group {
  margin-top: 0.5rem;
}

.mat-tab-label {
  font-size: 1.2rem;
}
