.main-content {
    padding-bottom: 1rem;
    height: 100%;
    overflow: auto;
}

.command-panel {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #666666;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);

    &.collapsed {
        height: 20px;
    }
}


.toggle-icon {
    text-align: center;
    color: #ffffff;
}
