<div class="app-container">
  <div class="app-header">
    <app-header></app-header>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <div class="command-panel" [@panelState]="isExpanded ? 'expanded' : 'collapsed'" (click)="togglePanel()">
    @if (isExpanded) {
      <div class="command-panel-container">
        <app-command-panel></app-command-panel>
      </div>
    }
    @else {
      <div class="toggle-icon">
        ▲
      </div>
    }
  </div>

  <div class="app-footer">
    <app-footer></app-footer>
  </div>

</div>