<div class="header">
  <div class="header-content">
    <div class="left-section">
      <a [routerLink]="['/']" class="header-link">
        <h1>Digital Brain</h1>
      </a>
    </div>
    <div class="middle-section">
      <app-command-panel></app-command-panel>
    </div>
    <div class="right-section">
      <button mat-mini-fab aria-label="Settings">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-mini-fab aria-label="Profile">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
</div>
